# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: a34895ebde4ad96416d2a20051283af8004f6612b90eab869c1083a2b5b04cb8de45526be87c5189c7a67f393593e0ec13540b8723556071487bd77e39ef20fe

test:
  secret_key_base: df04949b1eca92903bd572e74c49be404cc1a8edf50b851fc457b2fba7f6336cda7a3aeac49dd4fe5f4123bf83b55254e3cf4fe4cf3a4b6a2dfcf5e1f54b47b4

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
